Screen {
    layout: horizontal;
}

.input_box {
    height: 100%;
    width: 2fr;
    border: wide $primary;
}

TextLog {  
    width: 1fr;
    border: wide green;
}

TextLog:hover {
    border: wide yellow;
}

Input:hover {
    border: wide $secondary;
}

Input:focus {
    border: wide $accent;
}
