Screen {
    layout: grid;
    grid-size: 2;
    grid-gutter: 1;
}

InputApp {
    height: 100%;
    padding: 1;
    width: 100%;
    border: wide $primary;
}

TextLog {  
    color: lightgreen;
    width: 100%;
    border: wide green;
    height: 100%;
}

FilePathSetter {
    padding: 1;
    border: wide red;
    width: 100%;
    height: 100%;
}


Input:hover {
    border: wide $secondary;
}

InputApp:focus {
    border: wide $accent;
}
