Screen {
    layout: grid;
    grid-size: 2;
    grid-gutter: 1;
    grid-rows: 25% 75%;
}

InputApp {
    height: 100%;
    padding: 1;
    border: wide $primary;
}

TextLog {  
    padding: 1;
    color: $success;
    border: wide $success;
}

Input:hover {
    border: wide $secondary;
}

Input:focus {
    border: wide $accent;
}

Static {
    padding: 1;
}

.file_path_box {
    color: green;
}

.bottom_row {
    
}
