Screen {
    layout: grid;
    grid-size: 2;
    grid-gutter: 1;
    grid-rows: 25% 75%;
}

InputApp {
    height: 100%;
    padding: 1;
    width: 100%;
    border: wide $primary;
}

TextLog {  
    color: $success;
    width: 100%;
    border: wide $success;
    height: 100%;
}

Input:hover {
    border: wide $secondary;
}

InputApp:focus {
    border: wide $accent;
}

Static {
    padding: 1;
    height: 100%;
}

.file_path_box {
    color: green;
}
